*{margin: 0; padding: 0;}
ul, ol{list-style: none;}
a{text-decoration: none; color: #000;}


header{position: absolute; max-width: 1200px; width: 100%;  background: rgb(0, 0, 0); border: 1px solid skyblue;  top: 20px; left: 50%; transform: translateX(-50%);}

.wrap{ height: 100%; display: table; margin: auto;}
.wrap>span{color: #fff; float: right;}

header>.wrap>.gnb{border-bottom: 2px solid #fff;  overflow: hidden; text-align: center;}
header>.wrap>.gnb i{color: #fff; font-size: 20px;margin-right: 20px;}
header>.wrap>.gnb i.line {display: inline-block; width:1px; height: 50px; background: #fff;}
header>.wrap>.gnb li{display: inline-block; padding: 13px;}
header>.wrap>.gnb li a{color: #fff;font-size: 20px;}
header>.wrap>.gnb>span{color: #fff;}

.main_img{height: 600px; background: black; border-bottom:1px solid ;}
.main_img>img{width: 100%;}


.productpage{width: 100%; height: 1000px; background: rgb(185, 185, 185);}
.newsPage{width: 100%; height: 400px; background: white;}
.bottom_img{width: 100%; height: 400px; background: rgb(107, 140, 233);}
.footerInfo{width: 100%; height: 150px;}
footer{width: 100%; height: 80px; background: black;}


